* {
  margin: 0;
  padding: 0;
}

/* baggrund ligger sig til skærmstørrelse */
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-reapeat;
}

/* .bg_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
} */

.bg_menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 1rem;
}

.bg_menu img {
  max-width: 20vh;
  cursor: pointer;
}
.bg_menu div {
  max-width: 20vh;
  cursor: pointer;
}

/* #outfit_container div img {
  max-width: 20rem;
} */

/* HER HAR VI STØRRELSEN PÅ DE FORSKELLIGE DELE AF OUTFITTET*/
/* bruger vh til at få outfittet til at passe til både min store og lille skærm*/
.outfit_hat img {
  max-width: 8vh;
  cursor: pointer;
}

.outfit_face img {
  max-width: 8vh;

  cursor: pointer;
}

.outfit_shirt img {
  max-width: 26vh;
  cursor: pointer;
}

.outfit_pants img {
  cursor: pointer;
  max-width: 16vh;
}

.outfit_shoes img {
  max-width: 16vh;
  cursor: pointer;
}

.outfit_hat {
  max-width: 8vh;
  cursor: pointer;
}

.outfit_face {
  max-width: 8vh;

  cursor: pointer;
}

.outfit_shirt {
  max-width: 26vh;
  cursor: pointer;
}

.outfit_pants {
  cursor: pointer;
  max-width: 16vh;
}

.outfit_shoes {
  max-width: 16vh;
  cursor: pointer;
}

.hat_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.face_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.shirt_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pants_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.shoes_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrow {
  cursor: pointer;
  max-width: 6vh;
  margin-left: 6vw;
  margin-right: 6vw;
  display: none;
}

/* positionering til tøj */

#outfit_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#numbersContainer img {
  max-width: 3vw;
}

/* knappen til random (placeholder) */

.knappen img {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  max-width: 16vw;
  position: absolute;
  z-index: 99;
}

/* Wonky ass løsning  */

/* .outfit_hat {
  position: absolute;
  left: 49.5%;
  margin-top: 160px;
  z-index: 2;
}

.outfit_face {
  left: 50%;
  position: absolute;
  margin-top: 200px;
  z-index: 1;
}

.outfit_shirt {
  position: absolute;
  left: 45.5%;
  margin-top: 290px;
  z-index: 0;
}

.outfit_pants {
  position: absolute;
  left: 48.5%;
  margin-top: 600px;
  z-index: -1;
}

.outfit_shoes {
  position: absolute;
  left: 48.5%;
  top: -100;
  margin-top: 960px;
  z-index: -2;
} */

/* hvorfor virker min background-size ikke mere når jeg har en position absolute på min outfit_container */
